    <style>
        div.card{width: 80vw; height: 80vh; position: relative;}
        div.card_main_illust{height: 80vh; width: 80vw;}
        div.card_main_illust_inner{background: url(/{{root}}/lor_illust/{{illustPath}}.png); width: 86vw; height: 50vh; background-size: cover; top: 26.7%; background-repeat: no-repeat;
        position: relative; background-position: center;}
        div.card_cover{background: url(/{{root}}/card_{{rarity}}.png); z-index: 2; width: 90vw; height: 90vh; position: absolute; top: 0%; left: 0%; background-size: cover;}
        div.cost{position: absolute; z-index: 3; top: 0%; left: 5%; font-size: 12vh; font-weight: bolder; transform: rotate(-5deg);}
        div.name{position: absolute; z-index: 4; top: 21%; left: {{nameOffset}}%; font-size: {{fontSize}}; font-weight: bolder; transform: rotate(-11.7deg);}
    </style>
    <div class="card">
        <div class="card_main_illust">
            <div class="card_main_illust_inner"></div>
        </div>
        <div class="card_cover"></div>
        <div class="cost">{{cardCost}}</div>
        <div class="name">{{cardName}}</div>
    </div>