<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/{{root}}/main.css">
    <style>
        div.nine_card_frame{border-color: {{rarityColor}};}
        div.pagename{color: {{rarityColor}};}
    </style>
</head>
<body>
    <div class="deck_wrap">
        <div class="deck">
            <div class="deck_inner">
                <div class="pagename">
                    {{core}}
                </div>
                <div class="nine_card_frame">
                    <div class="card_frame">
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[0]}}" frameborder="0"></iframe>
                        </div>
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[1]}}" frameborder="0"></iframe>
                        </div>
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[2]}}" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="card_frame">
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[3]}}" frameborder="0"></iframe>
                        </div>
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[4]}}" frameborder="0"></iframe>
                        </div>
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[5]}}" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="card_frame">
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[6]}}" frameborder="0"></iframe>
                        </div>
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[7]}}" frameborder="0"></iframe>
                        </div>
                        <div class="one_card_frame">
                            <iframe src="/{{root}}/card/{{card_[8]}}" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="selection_wrap">
        <div class="form_wrap">
            <div class="form">
                <div class="form_inner">
                    <form action="/{{root}}" method="post">
                        <div class="difficulty">
                            <div class="difficulty_inner">
                                난이도
                            </div>
                        </div>
                        <div class="difficulty_form_wrap">
                            <div class="difficulty_form">
                                <span class="label_wrap">
                                    <label for="d_random" class="check">랜덤
                                        <input type="radio" class="check" name="difficulty" id="d_random" value="0" {{check['diff_0']}}>
                                        <span class="checkmark"></span>
                                    </label>
                                </span>
                                <label class="check"for="d_veryveryhard">매우어려움
                                    <input type="radio" class="check" name="difficulty" id="d_veryveryhard" value="5" {{check['diff_5']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="d_veryhard">어려움
                                    <input type="radio" class="check" name="difficulty" id="d_veryhard" value="4" {{check['diff_4']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="d_hard">약간 어려움
                                    <input type="radio" class="check" name="difficulty" id="d_hard" value="3" {{check['diff_3']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="d_medium">중간
                                    <input type="radio" class="check" name="difficulty" id="d_medium" value="2" {{check['diff_2']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="d_easy">쉬움
                                    <input type="radio" class="check" name="difficulty" id="d_easy" value="1" {{check['diff_1']}}>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="chapter">
                            <div class="chapter_inner">
                                챕터
                            </div>
                        </div>
                        <div class="chapter_form_wrap">
                            <div class="chapter_form">
                                <label class="check"for="Basic">기본
                                    <input type="checkbox" class="check" name="basic" id="Basic"  {{check['card_basic']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch1">뜬소문
                                    <input type="checkbox" class="check" name="ch1" id="ch1" {{check['card_ch1']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch2">도시괴담
                                    <input type="checkbox" class="check" name="ch2" id="ch2" {{check['card_ch2']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch3">도시전설
                                    <input type="checkbox" class="check" name="ch3" id="ch3" {{check['card_ch3']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch4">도시질병
                                    <input type="checkbox" class="check" name="ch4" id="ch4" {{check['card_ch4']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch5">도시악몽
                                    <input type="checkbox" class="check" name="ch5" id="ch5" {{check['card_ch5']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch6">도시의별
                                    <input type="checkbox" class="check" name="ch6" id="ch6" {{check['card_ch6']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="ch7">불순물
                                    <input type="checkbox" class="check" name="ch7" id="ch7" {{check['card_ch7']}}>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="chapter">
                            <div class="chapter_inner">
                                선호 공격유형
                            </div>
                        </div>
                        <div class="chapter_form_wrap">
                            <div class="chapter_form">
                                <label class="check"for="Penetrate">관통
                                    <input type="checkbox" class="check" name="Penetrate" id="Penetrate" {{check['act_Penetrate']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="Slash">참격
                                    <input type="checkbox" class="check" name="Slash" id="Slash"  {{check['act_Slash']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="Hit">타격
                                    <input type="checkbox" class="check" name="Hit" id="Hit" {{check['act_Hit']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="Guard">방어
                                    <input type="checkbox" class="check" name="Guard" id="Guard" {{check['act_Guard']}}>
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check"for="Evasion">회피
                                    <input type="checkbox" class="check" name="Evasion" id="Evasion" {{check['act_Evasion']}}>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="submit">
                            <input type="submit" value="덱 생성">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="table">
        <div class="table_wrap">
        {%autoescape false%}
        {{deck}}
        {%endautoescape%}
    </div>
    </div>
</body>
</html>