body{background: black; display: flex;}
iframe{width: calc(14vh + 1vw); height:calc(22vh + 1vw);}
div.deck_wrap{height: 100vh; width: 33vw;}
div.deck{width: 33vw; height: 100vh; display: flex; justify-content: space-evenly; align-items: center; flex-direction: column}
div.deck_inner{width: 95%; height: 95vh; display: flex; justify-content: space-evenly; flex-direction: column; align-items: center;}
div.nine_card_frame{height: fit-content; background: black; width: fit-content; border-style:solid; border-color: #fffea1; border-radius: 15px;}
div.card_frame{display: flex; background: black; width: fit-content; height: fit-content;}
div.one_card_frame{ background: rgb(57, 57, 57); border-style: hidden; border-radius: 10px; margin: 1vw;}
div.selection_wrap{width: 33vw; height: 100vh; color: white; display: flex; flex-direction: column; align-items: center; justify-content: center;}
table,th,tr,td{border-style: solid; border-collapse: collapse; border-width: 2px;}
tr.invisible{background-color: rgb(47, 47, 52);}
table{width: 31vw; color: white;}
div.difficulty, div.difficulty_form_wrap, div.chapter, div.chapter_form_wrap, div.submit{display: flex; align-items: center; 
    justify-content: flex-start; margin-bottom: 3vh; width: 30vw; word-break: keep-all;}
div.chapter{margin-top: 6vh;}
div.share{width: 80vw; display: flex; justify-content: space-around; align-items: center; padding-top: 10vh;}
input.shareLink{width: 60vw;}
div.table_wrap{width: 33vw; height: 80vh; overflow: scroll; overflow-X: hidden; color:white}
div.difficulty_form, div.chapter_form{display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap;}
div.table{height: 100vh; display: flex; align-items: center;}
label.check{padding-right: 10px; height: 40px; display: flex; border-collapse: separate;}
label.check{cursor: pointer; position: relative; padding-left: 27px;}
label.check input{opacity: 0; position: absolute; cursor: pointer; width: 0; height: 0;}
span.checkmark{position: absolute; top: 0; left: 0; border-color: #fffea1; border-style: solid; border-width: 4px; height: 11px; width: 11px; transform: rotate(45deg);}
span.checkmark:after {content: ""; position: absolute; display: none;}
label.check input:checked ~ span.checkmark:after {display: block;}
label.check span.checkmark:after {
    left: -7px;
    top: -27px;
    width: 10px;
    height: 30px;
    border: solid rgb(0, 208, 107);
    border-width: 0 4px 4px 0;
    border-radius: 4px;
    box-shadow: 3px 5px 5px rgb(1, 162, 84);
  }
@media (max-width: 1100px) {
    body{flex-direction: column;}
    div.deck{width: 90vw;}
    div.deck_wrap{width: 90vw;}
    div.deck_inner{align-items: center;}
    div.selection_wrap{width: 90vw;}
    div.table_wrap{width: 90vw; display: flex; align-items: center; justify-content: center;}
    table{width: 85vw;}
    div.table{width: 100vw; display: flex; align-items: center; justify-content: center;}
    div.difficulty, div.difficulty_form_wrap, div.chapter, div.chapter_form_wrap, div.submit {width: 80vw;}
    body{overflow-x: hidden;}
}